/* banner*/
*{
    margin:0;
}
.banner{
    background-image: url(../images/banner/banner3.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    width: auto;
    padding: 120px;
}
.header{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    /* margin-right: 80px; */
    
}
.banner-section{
    text-align: right ;
    padding-left: 600px;
    padding-right: 100px;
    padding-top: 200px;
}
.btn-primary{
    background: #FFFFFF;
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    width: 160px;
    height: 64px;
    border-radius: 5px;

}
.para1{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-align: right;
}
/* about styles starts here */
.about{
    display: flex;
}
.failure{
    margin-top: 300px;
    margin-right: 300px;
    

}
.para2{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600px;
    font-size: 16px;
    color: #444343;
    
}
.failure-heading{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}
ul {
    list-style: none;
  }
  
ul li:before {
    content: '✓';
    color: green;
}
.plans{
    display: flex;
    margin-left: 300px;
    text-align: center;
    
}
.plans h1{
    text-align: center;
}
.plan-list{
    margin-right: 150px;
}
/* watch image */
.bgimage{
    margin-top: 100px;
    background-image: url(../images/watch.png);
    margin-left:300px ;
    margin-right: 250px;
    height: 300px;

}
.bg-heading{
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 400px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
}
.footer{
    height: 400px;
    display: flex;
    background: #151414;
    color: #FFFFFF;
    padding-left: 230px;
    padding-top: 130px;
    padding-right: 230px;
    
    margin-top: 200px;
}
.future{
    padding-right: 400px;
}
.email{
    width: 325px;
    height: 64px;
    color: #F3F3F3;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    background: #151414;
}
.btn-secondary{
    margin-top: 16px;
    width: 170.11px;
    height: 64px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    background: #005FAC;
    border-radius: 8px;
    color: #FFFFFF;
}
.subscribe h2{
    padding-bottom: 30px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
}
.icon{
    padding-right: 10px;
    margin-top: 20px;
}
.para3{
    padding-top: 10px;
}